
<!--template of how to bootstrap to window  -->
<!-- <script type="javascript">
  window.logo = '<#%= image_url("image_name_here.png")  %>'
</script> -->
<script type="javascript">
  window.logo = '<%= image_url("shareyourbuildLogo.png")  %>'
</script>




<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render('/api/users/user.json.jbuilder', { user: current_user }).html_safe %>
  </script>
<% end %>

<main id="root">React will take from here</main>
