.footer{
  position: relative;
  height: 78px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// html, body {
//     height: 100%;
// }
// main {
//     min-height: 100%;
//     margin-bottom: -100px;
//     background: #ddd;
// }
// main:after {
//     content: "";
//     display: block;
//     height: 100px;
// }

// footer {
//     height: 100px;
//     background: #eee;
// }
