.link{
  color: blue;
}

form > input{
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

#syb-logo{
  background-image: image_url("shareyourbuildLogo.png");
  width: 60px;
  height: 60px;
  object-fit: cover;
  background-size: cover;
}

#github-logo{
  background-image: image_url("GitHub-Mark-120px-plus.png");
  width: 40px;
  height: 40px;
  object-fit: cover;
  background-size: cover;
  margin-right: 20px;
}

#angellist-logo{
  background-image: image_url("angellist-brands.svg");
  width: 40px;
  height: 40px;
  object-fit: cover;
  background-size: cover;
  margin-right: 20px;
}

#linkedin-logo{
  background-image: image_url("linkedin-brands.svg");
  width: 40px;
  height: 40px;
  object-fit: cover;
  background-size: cover;
  margin-right: 20px;
}

.icon-space {
  width: 192px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#root{
  min-width: 970px;
  background: #f6f6f6;
}

.window-size{
  min-height: 800px;
  background: #f6f6f6;
}


.main-page{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
