.instruction-form-positioning{
  width: 900px;
  background-color: white;
  margin: 0;
  border-radius: 10px;
}

.add-instruction{
  background-color: #df6902;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  display: block;
  width: 132px;
  border-bottom-color: #cf6000;
  border-left-color: #cf6000;
  border-right-color: #cf6000;
  border-top-color: #cf6000;
}


.multiple-images-position-instruction-1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.multiple-images-position-instruction-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.multiple-images-aligment-instruction{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.multiple-images-aligment-instruction-0{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.multiple-images-aligment-instruction-1{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.multiple-images-aligment-instruction-2{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.multiple-images-aligment-instruction-3{
  display: flex;
  flex-direction: row;
  align-items: center;
}
