.project-submit {
  background-color: #df6902;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  display: block;
  width: 100px;
  border-bottom-color: rgb(207, 96, 0);
  border-left-color: rgb(207, 96, 0);
  border-right-color: rgb(207, 96, 0);
  border-top-color: rgb(207, 96, 0);
}

.project-background{
  background-color: #d4e1e7;
  display: flex;
  justify-content: center;
  min-width: 970px;
}

.project-form-positioning{
  width: 900px;
  background-color: white;
  margin: 40px;
  border-radius: 10px;
}

.project-form-styling{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.project-title-styling{
  width: 300px;
  margin: auto;
  border: solid 1px #CCC;
  margin-top: 5px
}

.project-body-input{
  background-color: #f6f6f6;
  margin-top: 10px;
  width: 215px;
}

.project-input-format{
  display: flex;
  background-color: #f6f6f6;
  padding: 15px;
  justify-content: space-between;
  flex-direction: column;
  border: solid 1px #CCC;
}

.project-button-placement{
  display: flex;
  justify-content: flex-end;
}

.project-body-text{
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  border: solid 1px #CCC;
  resize:vertical;
}

.project-picture-preview-format{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1px;
}

.project-image-resize{
  width: 65%;
  height: auto;
  border-radius: 4px;
  vertical-align: middle;
  border: solid 1px #CCC;
}

.project-image-input-format{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.project-edit-title-text{
  text-align: center;
}
.project-edit-body-text{
  text-align: center;
  margin-top: 15px
}


.project-message-position{
  display: flex;
  align-content: center;
  justify-content: center;
}

.project-errors-container{
  background-color: #bd2121;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.project-errors{
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
.project-success{
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.project-success-container{
  background-color: #1b9430;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.project-previous-picture-format{
  max-width: 320px;
  width: 100%;
  height: auto;
  border-radius: 4px;
  vertical-align: middle;
  border: solid 1px #CCC;
}

.project-images-display-update-format{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.project-images-display-create-format{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
