.project-submit {
  background-color: #df6902;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}
