.project-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.project-by{
  line-height: 25px;
  color: #999;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.project-title{
  color: #333;
  font-weight: 700;
  font-size: 30px;
  font-family: "Open Sans Condensed",sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.project-index-link{
  margin-left: 12px;
}

.project-show-image-placement{
  max-width: 540px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-show-image-scale{
  width: 100%;
  height: auto;
  border-radius: 4px;
  vertical-align: middle;
}

.project-font-format{
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  display: block;
  font-family: "Nunito", helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  max-width: 800px;
  text-align: left;
  text-size-adjust: 100%;
  width: 800px;
  word-wrap: break-word;
  margin: auto;
}

.project-show-delete-button{
  background-color: #df6902;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  display: block;
  width: 125px;
  border-bottom-color: rgb(207, 96, 0);
  border-left-color: rgb(207, 96, 0);
  border-right-color: rgb(207, 96, 0);
  border-top-color: rgb(207, 96, 0);
}

.project-show-delete-position{
  display: flex;
  justify-content: center;
}
