.project-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.project-by{
  line-height: 25px;
  color: #999;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.project-title{
  color: #333;
  font-weight: 700;
  font-size: 30px;
  font-family: "Open Sans Condensed",sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.project-index-link{
  margin-left: 12px;
}

.project-show-image-placement{
  max-width: 844.423px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-show-image-scale{
  width: 100%;
  height: auto;
  border-radius: 4px;
  vertical-align: middle;
}
