#textEditor{
  margin: 0 auto;
  width: 750px;
  height:300px;
}

#theRibbon{
  border-bottom: none;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 8px 8px 0px 0px;
}

#theRibbon > button{
  color: black;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

#theRibbon > button:hover{
  background-color: lightgray;
  transition: all 0.3s linear 0s;
}

#theRibbon > input:hover{
  background-color: lightgray;
  transition: all 0.3s linear 0s;
}

#richTextArea{
  border: 2px solid white;
  height: 100%;
  width: 746px;
  background-color: whitesmoke;
}

#theWYSIWYG{
  width: 100%;
  height: 100%;
}

input[type=color]{
  border: none;
  outline: none;
  background-color: transparent;
}
